[Unit]
Description=Shuffles your wallpaper on a timer

[Timer]
OnStartupSec=1m
OnCalendar=hourly
Persistent=true
Unit=wallpaper-shuffle.service

[Install]
WantedBy=timers.target
